#skeetCanvas { 
    right: 0;
    left: 0;
    background-color: #57B1FF;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right:auto;
    display: block;
    border: 1px black solid;
    width: 80%;
    height: 400px;
}

#screen2, #instructions {
    position: absolute;
    right: 0;
    left: 0;
    top: 40px;
    background-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right:auto;
    border: 1px black solid;
    width: 80%;
    height: 400px;
    z-index: 10;
    font-size: 50px;
    color: white;
    text-align: center;
    overflow-y: scroll;
}
#levelUp {
    position: absolute;
    right: 0;
    left: 0;
    top: 240px;
    margin-left: auto;
    margin-right:auto;
    background-color: yellow;
    border: 1px black solid;
    width: 100px;
    height: 50px;
    z-index: 5;
    font-size: 15px;
    color: black;
    text-align: center;
    border-radius: 5px;

}

#level {
    vertical-align: middle;
}

#banner {
	text-align: center;
	font-size: 200%;
	Color: black;	
	text-shadow: 2px 2px cyan;
}

#button1, #button2 {
    background-color: green;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 8px 16px;
}

#button1:hover, #button2:hover {
    background-color: yellow;
}

Body{
	background-color: white;
	
	
}
